.container h1 {
  color: #854cff;
}

.noData {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--error-color);
}


.table {
  margin-top: 2rem;
  display: block;
  width: 100%;
}

.table th {
  background-color: #854cff;
  color: white;
  padding: 1rem;
}

.table tr,
.table td {
  padding: 1rem;
  text-align: center;
}

.table tr:nth-child(odd) {
  background-color: #d6eeee;
}

.icons {
  display: flex;
  gap: 1rem;
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.actions button {
  flex: 1;
}
