.table {
  margin-top: 2rem;
  border: 2px solid;
  display: block;
}

.table tr,
.table td {
  padding: 1rem;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #d6eeee;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.modalContent p{
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.actions button {
  flex: 1;
}
