.button {
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 1rem;
  background-color: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 20px rgba(84, 43, 250, 0.23);
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary);
  color: var(--secondary-content);
}

.secondary:hover {
  background-color: var(--secondary-focus);
}

.ghost {
  background-color: #00000000;
  box-shadow: none;
}
