.optionsGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.options > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.options label {
  display: flex;
  gap: 1rem;
}
